{% comment %}Complete product template content: Media gallery, variants, description, etc.{% endcomment %}
<div class="product-template__container page-width"
  id="ProductSection-{{ section.id }}"
  data-section-id="{{ section.id }}"
  data-section-type="product"
  data-enable-history-state="true"
  data-ajax-enabled="{{ settings.enable_ajax }}"
>
  <div class="product-single__media-group-wrapper">
    {% include 'product-media-gallery' %}
  </div>

  <div class="grid">
    <div class="grid__item medium-up--one-half">
      <div class="product-single__meta">
        <div class="product-block">
          <h1 class="product-single__title">{{ product.title }}</h1>
          {% if section.settings.show_vendor %}
            <p class="product-single__vendor">{{ product.vendor }}</p>
          {% endif %}
        </div>

        <div class="product-block">
          {% form 'product', product %}
            <div class="product-form__controls-group">
              {% if product.has_only_default_variant %}
                <input type="hidden" name="id" value="{{ product.variants.first.id }}">
              {% else %}
                <div class="product-form__controls-group--variants">
                  {% for option in product.options_with_values %}
                    <div class="selector-wrapper selector-wrapper--{{ option.name | handleize }}">
                      <label for="SingleOptionSelector-{{ forloop.index0 }}" class="product-form__label">
                        {{ option.name }}
                      </label>
                      <select class="product-form__input single-option-selector"
                        id="SingleOptionSelector-{{ forloop.index0 }}"
                        data-index="option{{ forloop.index }}"
                      >
                        {% for value in option.values %}
                          <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  {% endfor %}
                </div>
              {% endif %}

              {% if section.settings.show_quantity_selector %}
                <div class="product-form__controls-group">
                  <div class="product-form__item">
                    <label for="Quantity" class="product-form__label">{{ 'products.product.quantity' | t }}</label>
                    <input type="number" id="Quantity" name="quantity" value="1" min="1" class="product-form__input" pattern="[0-9]*">
                  </div>
                </div>
              {% endif %}
            </div>

            <div class="product-form__error-message-wrapper" role="alert" hidden>
              <span class="product-form__error-message"></span>
            </div>

            <div class="product-form__controls-group">
              <div class="product-form__item">
                <button type="submit" name="add"
                  class="btn product-form__cart-submit{% if section.settings.enable_payment_button and product.selling_plan_groups == empty %} btn--secondary-accent{% endif %}"
                  {% if settings.enable_ajax %}aria-haspopup="dialog"{% endif %}
                  data-add-to-cart
                >
                  <span data-add-to-cart-text>
                    {% unless current_variant.available %}
                      {{ 'products.product.sold_out' | t }}
                    {% else %}
                      {{ 'products.product.add_to_cart' | t }}
                    {% endunless %}
                  </span>
                  <span class="hide" data-loader>
                    {% include 'icon-spinner' %}
                  </span>
                </button>
                {% if section.settings.enable_payment_button %}
                  {{ form | payment_button }}
                {% endif %}
              </div>
            </div>
          {% endform %}
          {% render 'banana-stand-product-page-container' %}
        </div>

        <p class="visually-hidden" data-product-status
          aria-live="polite"
          role="status"
        ></p>

        <p class="visually-hidden" data-loader-status
          aria-live="assertive"
          role="alert"
          aria-hidden="true"
        >{{ 'products.product.loader_label' | t }}</p>

        <div
          class="product-single__store-availability-container"
          data-store-availability-container
          data-product-title="{{ product.title | escape }}"
          data-has-only-default-variant="{{ product.has_only_default_variant }}"
          data-base-url="{{ shop.url }}{{ routes.root_url }}"
        >
        </div>

        <div class="product-single__description rte">
          {{ product.description }}
        </div>
      
        {% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: true, product: product %}

        {% if section.settings.show_share_buttons %}
          {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product.featured_media %}
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
  <script type="application/json" id="ModelJson-{{ section.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>
{% endunless %}

{% schema %}
{
  "name": {
    "en": "Product pages"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "show_quantity_selector",
      "label": {
        "en": "Show quantity selector"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": {
        "en": "Show vendor"
      },
      "default": false
    },
    {
      "type": "checkbox", 
      "id": "enable_payment_button",
      "label": {
        "en": "Show dynamic checkout button"
      },
      "info": {
        "en": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": {
        "en": "Show social sharing buttons"
      },
      "default": true
    },
    {
      "type": "header",
      "content": {
        "en": "Media"
      }
    },
    {
      "type": "select",
      "id": "media_size",
      "label": {
        "en": "Size"
      },
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        },
        {
          "value": "full",
          "label": "Full-width"
        }
      ],
      "default": "medium"
    },
    {
      "type": "checkbox",
      "id": "enable_image_zoom",
      "label": {
        "en": "Enable image zoom"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": {
        "en": "Enable video looping"
      },
      "default": false
    }
  ]
}
{% endschema %}